<div class="row">
    <div class="col-12 col-md-4 ht wcases">
            <div class="data">
                <div style="color: #fff;font-weight: 500;" class="mat-sort-header-content ng-tns-c70-1">
                    <mat-icon style="color: #fff; height: 18px !important;" class="sum-icons">coronavirus</mat-icon>      
                    Total Cases
                </div>
                <h1 style="margin:5px 0; font-weight: 500; font-size: 30px">{{totalCases}}</h1>
                <span style="color: #fff;" class="todayStats">+ {{todayCases}} Today</span>
            </div>
        </div>
    <div class="col-12 col-md-4 ht wrecov">
        <div class="data">
            <div style="color: #fff;" class="mat-sort-header-content ng-tns-c70-1">
                <mat-icon style="color: #fff; height: 18px !important;" class="sum-icons">health_and_safety</mat-icon>
                Total  Recovered
            </div>
            <h1 style="margin:5px 0; font-weight: 500; font-size: 30px">{{totalRecoveries}}</h1>
            <span style="color: #fff;" class="todayStats">+ {{todayRecovered}} Today</span>
        </div>
    </div>
    <div class="col-12 col-md-4 ht wdeaths">
        <div class="data">
            <div style="color: #fff;" class="mat-sort-header-content ng-tns-c70-1">
                <mat-icon style="color: #fff; height: 18px !important;" class="sum-icons">hotel</mat-icon>
                Total Deaths
            </div>
            <h1 style="margin:5px 0; font-weight: 500; font-size: 30px">{{totalDeaths}}</h1>
            <span style="color: #fff;" class="todayStats">+ {{todayDeaths}} Today</span>
        </div>
    </div>
</div>
